body {
	font-family: Verdana;
	font-size: 14px;
	color: #3e4544;
	background-color: #3e4544;
	margin: 2rem auto;
	width: 80%;
	max-width: 50rem;
}
h1 {
	font-size: 3.5rem;
	text-shadow: 3px 3px black;
	color: white;
	text-align: center;
}
h2 {
	font-size: 2rem;
	margin: 0;
	padding: 0.3rem;
	color: #3e4544;
	border-bottom: 5px solid #4ab2e3;
}

#recipe {
	position: relative;
}
#recipe input {
	box-sizing: border-box;
	width: 100%;
	padding: 0.7rem;
	font-size: 2.5rem;
	text-align: center;
	background-color: #e1eef8;
	border: 5px solid #4ab2e3;
	border-radius: 5px;
}
#recipe input:focus::-moz-placeholder {
	color: transparent;
}
#recipe input:focus::-webkit-input-placeholder {
	color: transparent;
}

#ingredients {
	display: none;
	position: absolute;
	z-index: 100;
	box-sizing: border-box;
	width: 100%;
	font-size: 2rem;
	text-align: left;
	margin: 0;
	padding: 0;
	list-style-type: none;
	background-color: #e1eef8;
	border: 5px solid #4ab2e3;
	border-radius: 5px;
}
#ingredients > li {
	cursor: pointer;
	color: #3e4544;
	padding: 0.3rem;
}
#ingredients > li.selected {
	background-color: #84a49c;
}
#ingredients > li > img {
	width: 32px;
	margin-right: 1rem;
	vertical-align: middle;
}
#ingredients > li .highlight {
	color: #4ab2e3;
}

#ingredient {
	display: none;
	text-align: center;
	margin-top: 2rem;
	background-color: #e1eef8;
	border: 5px solid #4ab2e3;
	border-radius: 5px;
}
#ingredient > h2 > a {
	display: inline-block;
	width: 3.5rem;
	font-size: 0.6em;
	text-decoration: none;
	padding: 0.5rem 0;
	color: white;
	background-color: #4ab2e3;
	border-radius: 5px;
}
#ingredient > h2 > span > img {
	width: 64px;
	margin-right: 1rem;
	vertical-align: middle;
}
#ingredient p {
	font-size: 1.5rem;
	font-weight: bold;
}
#ingredient svg {
	margin: 2rem auto 2rem auto;
}

@media (max-width: 800px) {
	body {
		width: calc(100% - 10px);
		font-size: 12px;
	}
	#ingredient > h2 > span > img {
		display: none;
	}
}
